#entries {
    float: left;
    width: 5em;
    height: 100vh; 
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
}

#displayed {
    text-align: center;
    position: fixed;
    left: 20em;
    top: 50%;
}
